<div class="row mt-2">
    <div>Title is {{ title() }}</div>
    <div>
        <a [routerLink]="['/products/1']" [queryParams]="{ page: 1, sort: 'asc'}">Pass Query Params</a>
    </div>
    <div><strong>Expression Example:</strong> 2+2 is {{ 2+ 2}} <!-- Expression Example --></div>
    <h1>This is Parent Component: {{ pageTitle }} </h1><!-- Interpolation -->
    <div>
        <input type="text" class="form-control" [(ngModel)]="listFilter"> <!-- Two way binding -->
    </div>
    <div class="alert alert-primary mt-4">
        Filtered by: {{ listFilter }}
    </div>
</div>
<table class="table table-hover table-striped" *ngIf="product$ | async as products">
    <thead>
        <tr>
            <th><button class="btn btn-primary" (click)="toggleImage()">{{ showImage? 'Hide': 'Show'}} Image</button>
            </th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Release Date</th>
            <th>Description</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of product$ | async">
            <td><img *ngIf="showImage" width="50" height="50" [src]="product.imageUrl" /> </td>
            <!-- <td><img *ngIf="showImage" width="50" height="50" src={{product.imageUrl}} /> </td> -->
            <!-- Property Binding -->
            <td><a [routerLink]="['/products', product.productId]">{{ product.productName | uppercase}}</a></td>
            <td>{{ product.productCode | converToSpaces: '-'}}</td>
            <td>{{ product.releaseDate}}</td>
            <td>{{ product.description | lowercase}}</td>
            <td>{{ product.price}}</td>
            <td><app-star [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></app-star></td>
        </tr>
    </tbody>
</table>
<div>
    {{ errorMessage }}
</div>